# Essentials:
datasette
sqlite-utils
pip
pysqlite3-binary

# Plugins - uncomment to install:

# - Plot latitude/longitude on a map:
# datasette-cluster-map

# - Add bar/line/scatter plots:
datasette-vega

# - Create dashboards
datasette-dashboards

# - Publush to Vercel
datasette-publish-vercel

# - Very basic auth
datasette-auth-passwords

# More plugins here:
#   https://datasette.io/plugins
